$primary: #e41c1c;
$secondary: #DDDDDD;
$light: #fff;
$dark: #000;

$body-bg: transparent;
$body-color: #fff;

$burger-color: $primary;
$danger: $primary;


@import "animated-burger/animated-burger";
@import "animated-burger/burger1";
@import "~bootstrap/scss/bootstrap";
@import '~@sweetalert2/theme-dark/dark.scss';

@import "fly-button";
@import "hover";
@import "person";

.bg-gray {
  background-color: var(--gray)
}
.bg-gray-dark {
  background-color: var(--gray-dark)
}

.text-gray {
  color: var(--gray)
}

.text-gray-dark {
  color: var(--gray-dark)
}

.card {
  border-radius: 0.5rem;
}

.page {
  min-height: 90vh;
  background-color: rgba(0,0,0,0.2);
}

.footer-hr {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #e41c1c 30%, #e41c1c 50%, #e41c1c 70%, rgba(0,0,0,0) 100%);
  display: block;
  height: 3px;
}

footer {
  background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%);
}

.fam-control {
  border: none;
  border-width: 2px;
  font-size: 1.25rem;
}
.fam-control:focus {
  border: none;
  box-shadow: none;
}

// From bootstrap 5.0
.fs-1 {
  font-size: calc(1.375rem + 1.5vw)!important;
}
.fs-2 {
  font-size: calc(1.325rem + .9vw)!important;
}
.fs-3 {
  font-size: calc(1.3rem + .6vw)!important;
}
.fs-4 {
  font-size: calc(1.275rem + .3vw)!important;
}
.fs-5 {
  font-size: 1.25rem!important;
}
.fs-6 {
  font-size: 1rem!important;
}
.fs-7 {
  font-size: 0.85rem!important;
}
.fs-8 {
  font-size: 0.7rem!important;
}


.modal-header {
  border: none;
}
.modal-footer {
  border: none;
  justify-content: normal;
}
.modal-content {
  background-color: $dark;
  border-radius: 0.7rem;
}

.r-br {
  border-radius: 0 0 10px 0 !important;
}
.r-bl {
  border-radius: 0 0 0 10px !important;
}

.border-50 {
  border-radius: 50%;
}
.lh-0 {
  line-height: 0.75rem;
}
.lh-1 {
  line-height: 1rem;
}
.lh-2 {
  line-height: 1.25rem;
}
.lh-3 {
  line-height: 1.5rem;
}

.mt-45 {
  margin-top: 2rem;
}

select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #000 inset;
}
select:focus > option:checked {
  background: #000 !important;
}
.icon-center {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}